<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <!-- <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/warehouse.world"/> -->
        <arg name="vehicle" default="iris_depth_camera"/>
	</include>



	<!-- <node pkg="rob498_drone" type="offb_node.py" name="offb_node_py" required="true" output="screen" /> -->
	<node pkg="rob498_drone" type="waypoint_controller.py" name="waypoint_controller_py" required="true" output="screen" />
	<node pkg="rob498_drone" type="vicon_bridge.py" name="vicon_bridge_py" required="true" output="screen"/>
    
    <node pkg="rob498_drone" type="vicon_sim.py" name="vicon_sim_py" required="true" output="screen"/>

    
    


</launch>