<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" default="/dev/ttyUSB0:921600"/>
	</include>

	<!-- launch realsense VIO -->
	<include file="$(find px4_realsense_bridge)/launch/bridge.launch" >
  </include>



	<node pkg="rob498_drone" type="waypoint_controller.py" name="waypoint_controller_py" required="true" output="screen"/>
	<node pkg="rob498_drone" type="vicon_bridge.py" name="vicon_bridge_py" required="true" output="screen"/>
    <node pkg="rob498_drone" type="task_2_vicon.py" name="task_2_vicon_py" required="true" output="screen"/>

	<!-- <node pkg="rob498_drone" type="ground_station_sim.py" name="ground_station_sim_py" output="screen"/> -->
	
	<!-- <node pkg="rob498_drone" type="vicon_fake.py" name="vicon_fake_py" required="true" output="screen"/> -->


</launch>
