<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
		<arg name="world" default="$(find rob498_drone)/simulation/worlds/empty_world/empty.world"/>
		<!-- <arg name="world" default="$(find rob498_drone)/simulation/worlds/small_house/small_house.world"/> -->
		<arg name="vehicle" default="iris_depth_camera"/>
		<arg name="x" default="0.2"/>
		<arg name="y" default="0.2"/>
	</include>


	<!-- IMU Filter Madgwick Node -->
    <node name="imu_filter_node" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
        <param name="use_mag" value="false"/>
        <param name="publish_tf" value="false"/>
        <param name="world_frame" value="enu"/>
        <remap from="/imu/data_raw" to="/mavros/imu/data"/>
        <remap from="/imu/data" to="/rtabmap/imu"/>
    </node>

    <!-- RTAB-Map Launch -->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="rtabmap_args" value="--delete_db_on_start --Optimizer/GravitySigma 0.3"/>
        <arg name="depth_topic" value="/iris_depth_camera/camera/depth/image_raw"/>
        <arg name="rgb_topic" value="/iris_depth_camera/camera/rgb/image_raw"/>
        <arg name="camera_info_topic" value="/iris_depth_camera/camera/rgb/camera_info"/>
        <arg name="approx_sync" value="false"/>
        <arg name="wait_imu_to_init" value="true"/>
        <arg name="imu_topic" value="/rtabmap/imu"/>
    </include>






	<node pkg="tf" type="static_transform_publisher" name="tf_world_map"
        args="0 0 0 0 0 0 odom map 1000"/>
	<node pkg="tf" type="static_transform_publisher" name="tf_baseLink_vicon"
        args="0 0 0 0 0 0 base_link vicon 1000"/>

	<node pkg="rob498_drone" type="world_to_odom.py" name="world_to_odom_py" required="true" output="screen"/>


    <node pkg="rob498_drone" type="vicon_sim.py" name="vicon_sim_py" required="true" output="screen"/>

	<node pkg="rob498_drone" type="waypoint_controller.py" name="waypoint_controller_py" required="true" output="screen"/>
	<node pkg="rob498_drone" type="vicon_bridge.py" name="vicon_bridge_py" required="true" output="screen"/>
    <node pkg="rob498_drone" type="task_3.py" name="task_3_py" required="true" output="screen"/>


    <node pkg="rob498_drone" type="task_3_ground_station_sim.py" name="task_3_ground_station_sim_py" output="screen"
        launch-prefix="gnome-terminal --command" />
	<node pkg="rob498_drone" type="task_3_waypoint_publisher_sim.py" name="task_3_waypoint_publisher_sim_py" output="screen"/>
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rob498_drone)/visualization/simulation_vis.rviz" />
	
    
</launch>