<?xml version="1.0"?>
<launch>

	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" default="/dev/ttyUSB0:921600"/>
	</include>

	<include file="$(find px4_realsense_bridge)/launch/bridge_two_cameras.launch" >
    </include>

	<node pkg="tf" type="static_transform_publisher" name="tf_world_map"
        args="0 0 0 0 0 0 odom map 1000"/>
	<node pkg="tf" type="static_transform_publisher" name="tf_baseLink_vicon"
		args="0.077 0 0 0 0 0 base_link vicon 1000"/>

	<node pkg="tf" type="static_transform_publisher" name="tf_baseLink_d435Link"
		args="0.08 0 -0.1 0 0 0 base_link d435_link 1000"/>

	<node pkg="rob498_drone" type="world_to_odom.py" name="world_to_odom_py" required="true" output="screen"/>
	<node pkg="rob498_drone" type="waypoint_controller.py" name="waypoint_controller_py" required="true" output="screen"/>


	<node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" />
	<node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb" args="load depth_image_proc/point_cloud_xyz standalone_nodelet">
		<remap from="camera_info" to="/d435/depth/camera_info" />  
		<remap from="image_rect" to="/d435/depth/image_rect_raw" />
	</node>


	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.5"/>
			<param name="latch" type="bool" value="false"/>

			<param name="frame_id" type="string" value="odom"/>

			<param name="sensor_model/max_range" value="3.0"/>
			<param name="base_frame_id " value="base_link" type="str"/>

			<remap from="cloud_in" to="/points"/>
	</node>

	<node pkg="rob498_drone" type="project.py" name="project_py" output="screen"/>
	<node pkg="rob498_drone" type="path_planner.py" name="path_planner_py" output="screen"/>


    
</launch>